source https://www.nuget.org/api/v2/

nuget FSharp.Compiler.Service >= 1.3.1
nuget FsPickler >= 1.2.9
nuget FSharp.Quotations.Evaluator
nuget FsUnit 1.3.0.1
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget Unquote 2.2.2
nuget FAKE
nuget nunittestadapter