source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core >= 5.0.0 lowest_matching: true
nuget FSharp.Compiler.Service >= 38.0 lowest_matching: true

group Test
  source https://api.nuget.org/v3/index.json
  framework: net5.0, net472
  storage: none

  nuget FSharp.Core ~> 5.0.0
  nuget Unquote ~> 4.0
  nuget FSharp.Quotations.Evaluator ~> 2.0
  nuget BenchmarkDotNet ~> 0.12
  nuget CommandLineParser ~> 2.4.0 # fix BDN binding redirect issue
  nuget xunit ~> 2.4
  nuget xunit.runner.console ~> 2.4
  nuget xunit.runner.visualstudio ~> 2.4 version_in_path: true
  nuget Microsoft.NET.Test.Sdk ~> 16.0

group Build
  source https://api.nuget.org/v3/index.json
  framework: net472

  nuget FAKE ~> 4.0

  github fsharp/FAKE modules/Octokit/Octokit.fsx