source https://www.nuget.org/api/v2/
redirects on

nuget FSharp.Compiler.Service
nuget FsPickler
nuget FSharp.Quotations.Evaluator
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget Unquote
nuget FAKE
nuget nunittestadapter
nuget FSharp.Core